 #loading {
    position: absolute; 
	width: 99%; 
	height: 98%; 	
	background: url('images/preloader/preLoader.gif') no-repeat center center fixed;
}

.body{
opacity:0;
}
.navbar-brand:hover{
cursor:pointer;
}
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.5;
      color: #f5f6f7;
	 z-index:-1;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 10px;
      padding-bottom: 10px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 13px;
      letter-spacing: 4px;
	  opacity:0.98;
	  background:#F2F7F6;	  	  
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
	  
  }
  .collapse{
    background:#F2F7F6;	
  }
  .navbar-nav  li a{
	opacity:0.8;
	margin-right:20px; 
	word-spacing:-10px;
	
  }
 



.nav-bar-nav-again{

   // Animation
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
.glyphicon-white
{
color:white;
}
.table, tr
{
color:black;
}
.proj-list{
text-decoration: none;
cursor:pointer;
}
.body1{
 font: 20px Montserrat, sans-serif;
      line-height: 1.5;
      color: #f5f6f7;
}
.olcoder{
color:black;
}


.navbar {
    transition:padding height 1.2s;
    
}

.top-buffer{
margin-top:15px;
}

.editor_textarea
{
	resize:none;
}

