
.body{
opacity:0;
}
.navbar-brand:hover{
cursor:pointer;
}
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.5;
      color: #f5f6f7;
	 z-index:-1;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 10px;
      padding-bottom: 10px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 13px;
      letter-spacing: 4px;
	  opacity:0.98;
	  background:#F2F7F6;	  	  
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
	  
  }
  .collapse{
    background:#F2F7F6;	
  }
  .navbar-nav  li a{
	opacity:0.8;
	margin-right:20px; 
	word-spacing:-10px;
	
  }
 



.nav-bar-nav-again{

   // Animation
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
.glyphicon-white
{
color:white;
}
.table, tr
{
color:black;
}
.proj-list{
text-decoration: none;
cursor:pointer;
}
.body1{
 font: 20px Montserrat, sans-serif;
      line-height: 1.5;
      color: #f5f6f7;
}
.olcoder{
color:black;
}


.navbar {
    transition:padding height 1.2s;
    
}

.top-buffer{
margin-top:15px;
}

.editor_textarea
{
	resize:none;
}

/*NPROGRESS */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*NPROGRESS END*/

/**/
/*END*/